h3{
    font-size: 20px !important;
}
.btn-warning:hover{
    background-color: crimson;
}
canvas{
    animation-name: myanime;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
}
@keyframes myanime{
   from{box-shadow:1px 1px 38px red;}
   to{box-shadow:1px 1px 38px yellow;}
}
